*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-style: scrollbar;
  background: hsl(240deg, 73%, 65%);
  background: linear-gradient(0deg, hsl(240deg, 73%, 65%) 0%, hsl(273deg, 75%, 66%) 100%);
  color: hsl(240deg, 5%, 91%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 32.7rem;
  background: white;
  height: 53.5rem;
  margin: 30px auto;
  padding: 13rem 2.5rem 2.5rem;
  border-radius: 2rem;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0px 10px 40px hsl(257deg, 35%, 47%);
}
.card__header {
  margin-bottom: 2rem;
}
.card__header img {
  display: block;
  height: 18rem;
  width: 23.7rem;
  position: absolute;
  top: -10.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.card__header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: hsl(237deg, 12%, 33%);
}

.accordion__container {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
}
.accordion__trigger {
  background: transparent;
  position: relative;
  border: none;
  padding: 1.5rem 0;
  color: hsl(237deg, 12%, 33%);
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.accordion__trigger:hover {
  color: hsl(14deg, 88%, 65%);
}
.accordion__trigger[aria-expanded=true] {
  color: hsl(237deg, 12%, 33%);
  font-weight: 700;
}
.accordion__trigger[aria-expanded=true] .accordion__icon::after {
  transform: rotate(-180deg);
}
.accordion__icon::after {
  content: "";
  position: absolute;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  display: block;
  height: 0.75rem;
  width: 1rem;
  top: 2rem;
  right: 0;
}
.accordion__panel {
  color: hsl(240deg, 6%, 50%);
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}
