// Breakpoints
$bp-small: 23.4375em; // 375x;
$bp-large: 90em; // 1440px;

// Media Queries
$mq-small: 'screen and (min-width: #{$bp-small})';
$mq-large: 'screen and (min-width: #{$bp-large})';

// font weights
$fw-bold: 700;
$fw-normal: 400;

// font sizes
$fs-400: 3rem;
$fs-300: 2rem;
$fs-200: 1.8rem;
$fs-100: 1.2rem;

// colors
$clr-orange: hsl(14, 88%, 65%);
$clr-violet: hsl(273, 75%, 66%);
$clr-blue: hsl(240, 73%, 65%);
$clr-light-gray: hsl(240, 5%, 91%);
$clr-gray: hsl(240, 6%, 50%);
$clr-dark-gray: hsl(237, 12%, 33%);
$clr-dark: hsl(238, 29%, 16%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-style: scrollbar;
  background: $clr-blue;
  background: linear-gradient(0deg, $clr-blue 0%, $clr-violet 100%);
  color: $clr-light-gray;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: $fs-100;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 32.7rem;
  background: white;
  height: 53.5rem;
  margin: 30px auto;
  padding: 13rem 2.5rem 2.5rem;
  border-radius: 2rem;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0px 10px 40px hsl(257, 35%, 47%);

  &__header {
    margin-bottom: 2rem;

    img {
      display: block;
      height: 18rem;
      width: 23.7rem;
      position: absolute;
      top: -10.7rem;
      left: 50%;
      transform: translateX(-50%);
    }
    
    h1 {
      font-size: $fs-400;
      text-transform: uppercase;
      text-align: center;
      color: $clr-dark-gray;
    }
  }
}

.accordion {

  &__container {
    border-bottom: 1px solid $clr-light-gray;
  }

  &__trigger {
    background: transparent;
    position: relative;
    border: none;
    padding: 1.5rem 0;
    color: $clr-dark-gray;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color .25s ease-in-out;

    &:hover {
      color: $clr-orange;
    }

    &[aria-expanded="true"] {
      color: $clr-dark-gray;
      font-weight: 700;

      .accordion__icon::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__icon {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icon-arrow-down.svg);
      background-repeat: no-repeat;
      display: block;
      height: .75rem;
      width: 1rem;
      top: 2rem;
      right: 0;
    }
  }

  &__panel {
    color: $clr-gray;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}

  .attribution { color: white; font-size: 11px; text-align: center; }
  .attribution a { color: white; }
